.mapImg{
    height: 100px;
    width: 100%;

  }
  .mapSinglView{
    width: 100%;
  }
  .modalBody{
    overflow-y: scroll;
    overflow-x: scroll;
  }
  .modalBody::-webkit-scrollbar {
    width: 12px;
    background: transparent;
  }
  
  .modalBody::-webkit-scrollbar-track {
  background: transparent;
  }
  
  .modalBody::-webkit-scrollbar-thumb {
    background: linear-gradient(to right, #ff4b2b47, #ff416d4c);
    border-radius: 10px;
  }
  .modalBody::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(to right, #ff416d4c, #ff4b2b47);
  }
  
  
  