.number-bus-owner {
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  /* height: 230px; */
  /* width: 100%; */
  background-color: rgb(255, 255, 255);
  border-left: 10px solid;
  border-image: linear-gradient(to bottom, #ff4b2b, #ff416d) 1;
  border-radius: 0px 20px 20px 0px !important;
}

.main-grid {
  display: grid;
  grid-template-columns: max-content 1fr;
}
.not-aproved{
  background-image:linear-gradient(to right, #ff4b2b47, #ff416d4c) !important;
  border-radius: 20px;
  /* height:100px; */
  overflow-y: auto;
  overflow-x: auto;
  max-width: 50vw;
}
